[[domains]]
domain = "https://app.ignitionfi.xyz"
enable_session_management = true
enable_preflight_simulation = true

# ================================================
# Deposit WSOL
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "Deposit"
max_gas_spend = 200000

# (Optional) Create memo
[[domains.tx_variations.instructions]]
program = "MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr"
required = false

# DepositWsolWithSession (discriminator 27)
[[domains.tx_variations.instructions]]
program = "SP1s4uFeTAX9jsXXmwyDs1gxYYf7cdDZ8qHUHVxE1yr"
required = true
requires_wrapped_native_tokens = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = "U8"
constraint = { EqualTo = [{ U8 = 27 }] }

# ================================================
# Withdraw WSOL
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "Withdraw"
max_gas_spend = 200000

# (Optional) Create memo
[[domains.tx_variations.instructions]]
program = "MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr"
required = false

# WithdrawWsolWithSession (discriminator 28)
[[domains.tx_variations.instructions]]
program = "SP1s4uFeTAX9jsXXmwyDs1gxYYf7cdDZ8qHUHVxE1yr"
required = true
requires_wrapped_native_tokens = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = "U8"
constraint = { EqualTo = [{ U8 = 28 }] }

# ================================================
# Withdraw Stake
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "WithdrawStake"
max_gas_spend = 200000

# (Optional) Create memo
[[domains.tx_variations.instructions]]
program = "MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr"
required = false

# WithdrawStakeWithSession (discriminator 29)
[[domains.tx_variations.instructions]]
program = "SP1s4uFeTAX9jsXXmwyDs1gxYYf7cdDZ8qHUHVxE1yr"
required = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = "U8"
constraint = { EqualTo = [{ U8 = 29 }] }

# ================================================
# Withdraw From Stake Account
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "WithdrawFromStakeAccount"
max_gas_spend = 50000

# WithdrawFromStakeAccountWithSession (discriminator 30)
[[domains.tx_variations.instructions]]
program = "SP1s4uFeTAX9jsXXmwyDs1gxYYf7cdDZ8qHUHVxE1yr"
required = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = "U8"
constraint = { EqualTo = [{ U8 = 30 }] }

# ================================================
# OpenBox
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "OpenBox"
max_gas_spend = 50000

# (Optional) Create memo
[[domains.tx_variations.instructions]]
program = "MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr"
required = true

# ================================================
# Lock iFOGO
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "LockiFOGO"
max_gas_spend = 200000

# (Optional) Create escrow ATA
[[domains.tx_variations.instructions]]
program = "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL"
required = false

# CreateVestingEscrowWithSession
[[domains.tx_variations.instructions]]
program = "LockvXm2nWht6EvHf44AmCuS3eMKRiWTuks2x27XRRo"
required = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = { Bytes = { length = 8 } }
constraint = { EqualTo = [{ Bytes = "914e278f0a8c38ee" }] }

# ================================================
# Claim Locked iFOGO
# ================================================

[[domains.tx_variations]]
version = "v1"
name = "ClaimLockediFOGO"
max_gas_spend = 200000

# ClaimWithSession
[[domains.tx_variations.instructions]]
program = "LockvXm2nWht6EvHf44AmCuS3eMKRiWTuks2x27XRRo"
required = true

[[domains.tx_variations.instructions.data]]
start_byte = 0
data_type = { Bytes = { length = 8 } }
constraint = { EqualTo = [{ Bytes = "81d2ee4c3f8602a7" }] }
